# 宝塔安装地址URL
BAOTA_INSTALL_PATH=http://download.bt.cn/install/install_6.0.sh

# Driver
VOLUMES_DRIVER=local
# bridge / host
NETWORKS_DRIVER=bridge

# Centos 版本
CENTOS_VERSION=7

# PORT 开放端口
# 面板端口
BAOTA_PORT=8888
# 网站默认端口
WEB_PORT=8080
# HTTPS 端口
HTTPS_PORT=443
# FTP 端口
FTP_PORT=21
# FTP 数据传输端口
FTP_DATA_PORT=20
# SSH 端口
SSH_PORT=10022
# MYSQL 端口
MYSQL_PORT=3306
# PhpMyAdmin 端口
PHPMYADMIN_PORT=888

# PATH 路径
# 网站默认路径
WEB_PATH=./wwwroot
# 日志
LOGS_PATH=./wwwlogs
# 宝塔备份
BACKUP_PATH=./backup